/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

h3,
h4 {
    font-family: cursive;
}

ul {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    flex-basis: calc((100% / 3) - (40px / 3));
    padding-bottom: 50px;
}